<!-- Dieser Container wird von JavaScript befüllt und dem Body hinzugefügt. -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Bestätigung</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="confirmationModalMessage">Möchten Sie diese Aktion wirklich ausführen?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="confirmationModalCancelBtn" data-bs-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary" id="confirmationModalConfirmBtn">Bestätigen</button>
      </div>
    </div>
  </div>
</div> 